body{
  background-image: url("../images/bee.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
img{
  margin-top: 0px;
  margin-left: 338px;

}
.jumbotron{
  background-color: skyblue;
}
